@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(26, 16, 60, 255);
  color: #f9f7fc
}